.parent {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:  "my-main  my-aside"
                          "my-desc  my-aside"
                          "footer   footer";
}

.seccio-contingut{
    padding-right:800px;
}

.div1{
    grid-area: my-main;
    margin-top:70px;
}

.div2{
    grid-area: my-desc;
}

.div3{
    grid-area: my-aside;
    margin-top:70px;
}

.info-descripcion p{
    color:#fff;
    margin-bottom: 20px;
}

.tags-descripcion li{
    display: inline-block;
    padding: 6px;
    border-radius: 6px;
    background-color: #333;
    margin: 2px;
}

.tags-descripcion{
    position: relative;
    left:-35px;
}

@media all and (max-width:880px){

    .div3{
        margin-top:0;
    }

    .seccio-contingut{
        padding-right:0;
    }

    .parent{
        grid-template-areas:  "my-main"
                              "my-desc"
                              "my-aside"
                              "footer";
    }
}







