<!DOCTYPE html>
<html lang="ca">
<div th:replace="~{fragments :: head}"></div>

<body>
    <div th:insert="~{fragments :: nav}"></div>

    
    <!-- Contingut Main -->
    <div class="contingut">
        <main>
            <section>
                <article>
                    <h2>Últims podcasts publicats</h2>
                    <div class='caixa00podcasts'>
                        <a class='caixa00 caixa00p caixa00portada'
                            th:each="p,pNum: ${listPodcast}"
                            th:if="${pNum.index < 8}"
                            th:attr="style='background-image: linear-gradient(#11111100, #111111), url(\'images/'+${p.imatge}+'\');',
                                href='podcast/'+${p.id}+''">
                            <div>
                                <div class='caixa00text' th:text="*{#temporals.format(p.dataPublicacio, 'dd/MM/yyyy')}"></div>
                                <div class='caixa00text' th:text="${p.canal.titol}"></div>
                                <!-- <div class='caixa00text' th:text="${p.descripcio}"></div> -->
                                <div class='caixa00titol' th:text="${p.titol}"></div>
                            </div>
                        </a>
                    </div>
                </article>
            </section>
        </main>

        <aside>
            <div class='portada portadaAside'>
                <div th:replace="~{fragments :: filtre}"></div>
                <span class='textTitols'>Res millor que un podcast!</span>
            </div>

            <div class='requadre' th:if="${session.usuari != null}">
                <!-- Si l'usuari està logejat-->
                <h3>Hola <span th:text="${session.usuari.username}"></span>!</h3>
                <p>
                    Visita el teu perfil d'usuari i gestiona els teus canals i podcasts.
                </p>
                <a href= "/perfil">
                    <button type="submit" class="btn-registre efecteButton">
                        <i class="fas fa-user" style="color: #e1e1e1;"></i>
                        PERFIL D'USUARI
                    </button>
                </a>
            </div>

            <div class='requadre' th:if="${session.usuari == null}">
                <!-- Si l'usuari és un visitant-->
                <h3>UNEIX-TE A PODCAT!</h3>
                <p>
                    Si necessites una plataforma per gestionar de manera pública arxius d'àudio, aquesta és la teva web.
                    Registra't i podràs crear els teus canals i penjar els teus podcasts.
                </p>
                <p>
                    <!-- Boto Modal registrar-se-->
                    <button type="submit" style="padding:10px;" class="btn-registre efecteButton" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                        REGISTRA'T
                    </button>
                </p>
            </div>

            <div class="requadre2">
                <p>
                    <span class="strong">PodCat</span> és una plataforma lliure per gestiornar arxius d'àudio,
                    permet penjar i programar continguts, des de notes de veu en format breu fins a arxius més llargs de tipus podcast.
                </p>
                <p>
                    Tot el contingut és obert i qualsevol visitant té accés als àudios.
                </p>
            </div>
        </aside>

        <div th:replace="~{fragments :: footer}"></div>
    </div>
    

    <div th:insert="~{fragments :: scripts}"></div>

</body>
</html>

